*{
    margin: 0;
    padding: 0;
}

.hero-image{
    background-image: url(../img/snake-background.jpg);
    background-repeat: no-repeat;
    background-size: 1350px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}
/* img{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
} */

#board{
    background: linear-gradient(rgb(25, 146, 25), yellow);
    height: 95vmin;
    width: 92vmin;
    display:inline-grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
}
